<div style="margin:1%">
        <a routerLink="/angular">
            <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
        </a>
       <h3 class="text-center">Async pipes (|)?</h3>
       The AsyncPipe subscribes to an observable or promise and returns the latest value it has emitted. When a new value is emitted, the pipe marks the component to be checked for changes.
       <br/>
       The following example binds the time observable to the component's view. The observable continuously updates the view with the current time.
      
       <br/>
       <b>Time {{time| async}}</b>
</div>
    