<div style="margin:1%">
        <a routerLink="/html">
            <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
        </a> <br/><br/>
<b>Input form elements : </b><br/>
<pre>
< input type="color" value="#b97a57" >
< input type="date" value="2011-06-08" >
< input type="datetime" value="2011-06-09T20:35:34.32" >
< input type="datetime-local" value="2011-06-09T22:41" >
< input type="email" value="robert@robertnyman.com" >
< input type="month" />
< input type="number" value="4" >
< input type="range" value="15" >
< input type="search" value="[Any search text]" >
< input type="tel" value="[Any numeric value]" >
< input type="time" value="22:38" >
< input type="url" value="http://robertnyman.com" >
< input type="week" >
</pre>
<b>Form elements attributes</b><br/>
<b>autocomplete</b><br/>
An option to turn off automatic form completion of values for a field. Possible values are “on” and “off”.
<br/><b>autofocus</b><br/>
Whether focus should be set to this field as soon as it has loaded.
<br/><b>formaction</b><br/>
For buttons that submit a form (e.g. < input type=”submit” >, < input type=”image” > and < button > elements) to be able to override the action attribute of the form; for instance if different buttons should submit the form to different URLs. No more JavaScript to do this!
<br/><b>formenctype</b><br/>
For buttons that submit a form to be able to override the form’s specified encoding
<br/><b>formmethod</b><br/>
For buttons that submit a form to be able to override the form’s method attribute, in case a button should change the method.
<br/><b>formnovalidate</b><br/>
Append to a submit button to bypass form validation.
<br/><b>formtarget</b><br/>
For buttons that submit a form to be able to override the form’s target attribute.
<br/><b>list</b><br/>
To connect with a < datalist > element by its id, to use its < option > elements as suggestions.
<br/><b>max</b><br/>
Maximum value for the value that can be put in.
<br/><b>min</b><br/>
Minimum value for the value that can be put in.
<br/><b>multiple</b><br/>
Allows for selection of multiple files for < input type=”file” > elements, and for multiple e-mail addresses separated by a comma.
<br/><b>novalidate</b><br/>
Applies only to the < form > element, and prevents a form from being validated before submitted.
<br/><b>pattern</b><br/>
Declaring what pattern should be used for validating a field’s value, in the form of a regular expression.
<br/><b>placeholder</b><br/>
Meant to be able to display a hint to the end user what to input. (Side note: I wrote a blog post discussing the desired behavior of the placeholder attribute)
<br/><b>readonly</b><br/>
If a field should be readonly.
<br/><b>required</b><br/>
For validation purposes, if a field is required or not.
<br/><b>spellcheck</b><br/>
Lets the web browser know if it should spell check the contents or not.
<br/><b>step</b><br/>
Possibility to control the size of each step for elements that accepts number or date input.

</div>