<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Q/A</span>
      <span style="flex: 1 1 auto;"></span>
      <a style="color:#fff;text-decoration: none" routerLink="/angular" routerLinkActive="active">Angular</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/angularMaterial" routerLinkActive="active">Angular Material</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/aggrid" routerLinkActive="active">Ag-Grid</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/react" routerLinkActive="active">React</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/ionic" routerLinkActive="active">Ionic</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/javascript" routerLinkActive="active">Javascript</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/html" routerLinkActive="active">Html5</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/css" routerLinkActive="active">CSS</a>&nbsp;|&nbsp;
      <a style="color:#fff;text-decoration: none" routerLink="/kannada" routerLinkActive="active">k</a>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
