<div style="margin:1%">
    <a routerLink="/angular">
        <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
    </a>
   <h3 style="margin: 0;" class="text-center">RxJs?</h3>
   <table style="width:100%" cellspacing="0" cellpadding="0">
       <tr>
           <td style="width:16%; vertical-align: top;padding-right:10px">
                <ul style="list-style-type: none;padding-left: 0;">
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs">Observable</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/operator">Operator</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/map">Map/mapTo</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/subjectbehavior">Subject/BehaviourSubject</a></li>
                    <li class="borderBottom">
                        <a class="textDecorationNone" routerLink="/angular/rxjs/of">Of</a> |
                        <a class="textDecorationNone" routerLink="/angular/rxjs/from">From</a>
                    </li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/fromEvent">fromEvent</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/throwError">throwError</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/concat">concat/concatAll</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/concatMap">concatMap</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/mergeMap">mergeMap</a></li>
                    <li class="borderBottom"><a class="textDecorationNone" routerLink="/angular/rxjs/interval">interval/timer</a></li>
                    
                </ul>
           </td>
           <td style="vertical-align: top;">
               <router-outlet></router-outlet>
            </td>
        </tr>
    </table>
</div>