<h1>flat()</h1>
The flat() method creates a new array with all sub-array elements concatenated into it recursively up to the specified depth.

<h3>Syntax</h3>
<pre>
var newArray = arr.flat([depth]);
</pre>    

<h3>depth | (Optional)</h3>
The depth level specifying how deep a nested array structure should be flattened. Defaults to 1.

<h3>Return Value</h3>
A new array with the sub-array elements concatenated into it.

<pre>
    const arr1 = [1, 2, [3, 4]];
    arr1.flat(); 
    // [1, 2, 3, 4]
    
    const arr2 = [1, 2, [3, 4, [5, 6]]];
    arr2.flat();
    // [1, 2, 3, 4, [5, 6]]
    
    const arr3 = [1, 2, [3, 4, [5, 6]]];
    arr3.flat(2);
    // [1, 2, 3, 4, 5, 6]
    
    const arr4 = [1, 2, [3, 4, [5, 6, [7, 8, [9, 10]]]]];
    arr4.flat(Infinity);
    // [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
</pre>    
<h3>Flattening and array holes</h3>
The flat method removes empty slots in arrays:    
<pre>
    const arr5 = [1, 2, , 4, 5];
    arr5.flat();
    // [1, 2, 4, 5]
</pre>

<h3>Alternatives</h3>
<h4>-reduce and concat</h4>
<pre>
    const arr = [1, 2, [3, 4]];

    // To flat single level array
    arr.flat();
    // is equivalent to
    arr.reduce((acc, val) => acc.concat(val), []);
    // [1, 2, 3, 4]
    
    // or with decomposition syntax
    const flattened = arr => [].concat(...arr);
</pre>    
******************************8
<h1>concat()</h1>
The concat() method is used to merge two or more arrays. This method does not change the existing arrays, but instead returns a new array.
<pre>
    const array1 = ['a', 'b', 'c'];
    const array2 = ['d', 'e', 'f'];
    const array3 = array1.concat(array2);
    
    console.log(array3);
    // expected output: Array ["a", "b", "c", "d", "e", "f"]
</pre>
<h3>Syntax</h3>
<pre>
const new_array = old_array.concat([value1[, value2[, ...[, valueN]]]])    
</pre>

<h3>valueN | (Optional)</h3>
Arrays and/or values to concatenate into a new array. If all valueN parameters are omitted, concat returns a shallow copy of the existing array on which it is called. See the description below for more details.
<h3>Return value</h3>
A new Array instance.  

<h3>Description</h3>
<p>The concat method creates a new array consisting of the elements in the object on which it is called, followed in order by, for each argument, the elements of that argument (if the argument is an array) or the argument itself (if the argument is not an array). It does not recurse into nested array arguments.</p>

<p>,The concat method does not alter this or any of the arrays provided as arguments but instead returns a shallow copy that contains copies of the same elements combined from the original arrays. Elements of the original arrays are copied into the new array as follows:</p>
<ul>
    <li>Object references (and not the actual object): concat copies object references into the new array. Both the original and new array refer to the same object. That is, if a referenced object is modified, the changes are visible to both the new and original arrays. This includes elements of array arguments that are also arrays.</li>
    <li>Data types such as strings, numbers and booleans (not String, Number, and Boolean objects): concat copies the values of strings and numbers into the new array</li>
</ul>

<b>Note : </b>
Note: Concatenating array(s)/value(s) will leave the originals untouched. Furthermore, any operation on the new array (except operations on elements which are object references) will have no effect on the original arrays, and vice versa.

<h3>Examples</h3>
<b>Concatenating three arrays</b>
<pre>
    const num1 = [1, 2, 3];
    const num2 = [4, 5, 6];
    const num3 = [7, 8, 9];
    
    const numbers = num1.concat(num2, num3);
    
    console.log(numbers); 
    // results in [1, 2, 3, 4, 5, 6, 7, 8, 9]
</pre>    

<b>Concatenating values to an array</b>
<pre>
    const letters = ['a', 'b', 'c'];

    const alphaNumeric = letters.concat(1, [2, 3]);
    
    console.log(alphaNumeric); 
    // results in ['a', 'b', 'c', 1, 2, 3]
</pre>    

<b>Concatenating nested arrays</b>
The following code concatenates nested arrays and demonstrates retention of references:
<pre>
    const num1 = [[1]];
    const num2 = [2, [3]];
    
    const numbers = num1.concat(num2);
    
    console.log(numbers);
    // results in [[1], 2, [3]]
    
    // modify the first element of num1
    num1[0].push(4);
    
    console.log(numbers);
    // results in [[1, 4], 2, [3]]
</pre>    