<div style="margin:1%">
        <a routerLink="/react">
            <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
        </a>
       <h3 class="text-center">What is render() in React? And explain its purpose?</h3>
       <p>
            Each React component must have a render() mandatorily. It returns a single React element which is the representation of the native DOM component. If more than one HTML element needs to be rendered, then they must be grouped together inside one enclosing tag such as < form >, < group >, < div > etc. This function must be kept pure i.e., it must return the same result each time it is invoked.
        </p>
</div>
    