<div style="margin:1%">
        <a routerLink="/html">
            <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
        </a>
        <h3 class="text-center">HTML5 Video</h3>
        <p>The HTML5 &lt;video&gt; element specifies a standard way to embed a video in a web page.</p>
        <p><b>To show a video in HTML, use the &lt;video&gt; element:</b></p>
<pre>
&lt;video width="320" height="240" controls&gt;
    &lt;source src="movie.mp4" type="video/mp4"&gt;
    &lt;source src="movie.ogg" type="video/ogg"&gt;
    Your browser does not support the video tag.
&lt;/video&gt;    
</pre>    
<b>HTML5 Video Tags</b><br/>
<pre>
&lt;video&gt;   Defines a video or movie
&lt;source&gt;  Defines multiple media resources for media elements, such as &lt;video&gt; and &lt;audio&gt;
&lt;track&gt;   Defines text tracks in media players
</pre>    

<p>The &lt;track&gt; tag specifies text tracks for media elements (&lt;audio&gt; and &lt;video&gt;).</p>
This element is used to specify subtitles, caption files or other files containing text, that should be visible when the media is playing.
<pre>
  &lt;track src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English"&gt;   
</pre>
</div>        