<h1 class="text-center">Welcome to UI interview preparation</h1><br/>
<div>
Git basic--

<ul>
    <li>
        git config: This sets the configuration values for your username, email, gpg key, preferred diff algorithm, file formats and more:
        <br/>
        git config –global user.name "Your Username Here"<br/>
        git config –global user.email "user@domain.com"
    </li>
    <li>Git init : git init [repository name]<br/>This command is used to start a new repository.<br/>
        This initializes a git repository, and creates the initial .git directory in a new or already existing project:
    </li>
</ul>
</div>
