<div style="margin: 1%;">
<h1 class="text-center">Welcome to UI interview preparation</h1><br/>
<div>
Git basic--

<ul>
    <li>
        git config: This sets the configuration values for your username, email, gpg key, preferred diff algorithm, file formats and more:
        <br/>
        git config –global user.name "Your Username Here"<br/>
        git config –global user.email "user@domain.com"
    </li>
    <li>Git init : git init [repository name]<br/>This command is used to start a new repository.<br/>
        This initializes a git repository, and creates the initial .git directory in a new or already existing project:
    </li>
    <li>
            git clone: This command creates a Git repository copy from a remote source. The command will also add the original location as a remote location so you are able to fetch from it again and push to it if you have permissions:
            <br/>git clone git@github.com:user/test.git
    </li>
    <li>
            git add: This will add file changes that are in your working directory to your stage/index:<br/> git add [file name], OR git add * (for all)
    </li>

    <li>
            git rm: This will remove files from your index and your working directory so they will not be tracked:<br>
            git rm [file_name]
    </li>
    <li>
            git commit: This Git command takes all of the changes written in the index, creates a new commit object pointing to it, and sets the branch to point to that new commit:<br/>
            git commit -m 'committing added changes'<br/>
            git commit -a -m 'committing all changes, equals to git add and git commit'
    </li>
    <li>
            git status: This Git command shows the status of files in the index versus the working directory. It will list out files that are untracked (only in your working directory), modified (tracked but not yet updated in your index), and staged (added to your index and ready for committing):<br/>
            git status
    </li>
    <li>
            git branch: This lists existing branches, including remote branches if ‘-a’ is provided. It will create a new branch if a branch name is provided:
    </li>
</ul>
</div>
</div>