<div style="margin:1%">
        <a routerLink="/html">
            <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
        </a>
       <h3 class="text-center">Web Storage</h3>
       <p>Web storage provides the facility to store the data of our web applications locally into the user’s browser. It can store up to 10 MB data. Web storage helps to increase the performance of our applications.</p>
       <p>There are two types of web storage that are used to store data locally in HTML5:
       </p>
       <p><b>Local storage:</b> This stores the data that will not expire or clear automatically when a user closes or reopens a browser.</p>

       <p><b>Session Storage:</b> This stores data for one session only(i.e, a user who is surfing the internet or website). Once the browser is closed, session data will automatically delete from the web browse</p>
</div>