<p><b>from</b></p>
<p class="infoClass">Creates an Observable from an Array, an array-like object, a Promise, an iterable object, or an Observable-like object.</p>

<p><b>from&lt;T&gt;(input: ObservableInput&lt;T&gt;, scheduler?: SchedulerLike): Observable&lt;T&gt;</b></p>

<p><b>Parameters</b></p>
<pre>
    input        Type: ObservableInput.
    scheduler    Optional. Default is undefined.
                 Type: SchedulerLike.
</pre>

<p><b>Returns</b></p>
Observable&lt;T&gt;:

<p><b>Description</b></p>
<p class="infoClass">Converts almost anything to an Observable.</p>
<br/>
<p>
        <img src="./assets/from.png" width="70%"/>
      </p>
<p>
        <b>from</b> converts various other objects and data types into Observables. It also converts a Promise, an array-like, or an iterable object into an Observable that emits the items in that promise, array, or iterable. A String, in this context, is treated as an array of characters. Observable-like objects (contains a function named with the ES2015 Symbol for Observable) can also be converted through this operator.
</p>

<pre>
        import {{'{'}} from {{'}'}} from 'rxjs';

        const array = [10, 20, 30];
        const result = from(array);
        
        result.subscribe(x => console.log(x));
        
        // Logs:
        // 10
        // 20
        // 30
</pre>    

<p><b>Convert an infinite iterable (from a generator) to an Observable</b></p>

<pre>
        import {{'{'}} from {{'}'}} from 'rxjs';
        import {{'{'}} take {{'}'}} from 'rxjs/operators';
        
        function* generateDoubles(seed) {{'{'}}
           let i = seed;
           while (true) {{'{'}}
             yield i;
             i = 2 * i; // double it
           {{'}'}}
        {{'}'}}
        
        const iterator = generateDoubles(3);
        const result = from(iterator).pipe(take(10));
        
        result.subscribe(x => console.log(x));
        
        // Logs:
        // 3
        // 6
        // 12
        // 24
        // 48
        // 96
        // 192
        // 384
        // 768
        // 1536
</pre>    

<p><b>With async scheduler</b></p>
<pre>
import {{'{'}}from, asyncScheduler {{'}'}}  from 'rxjs';

console.log('start');
const array = [10, 20, 30];
const result = from(array, asyncScheduler);
result.subscribe( x => console.log(x));
console.log('end');

//logs:
//start
//end
//10
//20
//30
</pre>
